@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*utility Class*/

.hidden
{ 
	display: none;
}

.logo img{
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	height: 60%;
	width: 60%;
}


.navBg{
	background-color: #694330;
}

nav ul{
	float: right;
}

nav ul li {
	float: left;
	margin-right: 20px;
	padding-top: 45px;
}

nav ul li a{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	/*text-transform: uppercase;*/
	color: #FFF;
	text-decoration: none;
	position: relative;

}

nav ul li a:hover{

	color: #c0a391;
}

nav ul li a:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #FFF;
	visibility: hidden;
	 -webkit-transform: scaleX(0);
  	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover:before{
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}


/*Index page*/

.mainImage
{
	width: 100%;
	height: 70%;
	background-size: 100%;
	/*margin-top: 30px;*/
	text-align: center;
	background-image: url(../images/chairs.jpg);
	background-repeat: no-repeat;
	overflow:hidden;
	position:relative;
	background-attachment: fixed;
}



.enjoyCup
{
	font-family: 'chunkfiveroman', Arial, sans-serif;
	color: #FFF;
	font-size: 60px;
	opacity: 1;
	padding-top: 15%;
	letter-spacing: 2px;
	-webkit-animation-name: text;
	-webkit-animation-duration: 2s;
	animation-name: text;
	animation-duration: 2s;
	
}

@keyframes text {
	
	0% {opacity:0;}
	100% {opacity: 1;}
}

@-webkit-keyframes text {
	
	0% {opacity:0;}
	100% {opacity: 1;}
}

.featured h2{
	font-family:'chunkfiveroman', Arial, sans-serif;
	color: #a2462d;
	font-size: 30px;
	padding-top: 80px;
}

.featured p{
	font-family:'Noticia Text', serif;
	color: #694330;
	/*text-align: center;*/
	padding-top: 20px;
	line-height: 25px;
}

.featured h3{
	font-family:'chunkfiveroman', Arial, sans-serif;
	color: #a2462d;
	font-size: 20px;
	padding-top: 40px;
}


.featured h4{
	font-family:'chunkfiveroman', Arial, sans-serif;
	color: #a2462d;
	font-size: 18px;
	padding-top: 20px;
}

.featuredCon{
	padding-top: 40px;
}

.thumbs{
	padding-top: 60px;
}

/*product page*/

.bigPaste{
	background-image: url(../images/pastry_big.jpg);
	width: 100%;
	height: 70%;
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}

.bigPaste img{
	padding-top: 150px;
}

.bigPaste h2{
	color: #FFF;
	font-family:'chunkfiveroman', Arial, sans-serif;
	text-align: center;
	font-size: 50px;
	padding-top: 20px;
	line-height: 60px;
}

.prodTitle img{
	padding-top: 30px;
}

.prodTitle h2{
	font-family:'chunkfiveroman', Arial, sans-serif;
	color: #a2462d;
	margin-top: 40px;
	font-size: 30px;
	padding-bottom: 10px;
}

.prodTitle p{
	font-family:'Noticia Text', serif;
	line-height: 25px;
	color:#61301d;
	margin-top: 20px;
	text-align: justify;
}

.prod img{
	padding-bottom: 10px;
	padding-top: 30px;
}

.prod h2{
	font-family:'chunkfiveroman', Arial, sans-serif;
	color: #a2462d;
	font-size: 18px;
	padding-bottom: 10px;	
}

.prod p{
	font-family:'Noticia Text', serif;
	line-height: 20px;
	color:#61301d;
	font-size: 14px;	
}

.prod a{
	font-family:'Noticia Text', serif;
	padding-top: 10px;
	color:#a2462d;
	font-size: 14px;
}


/*ABOUT*/

.bigAbout{
	background-image: url(../images/guy.jpg);
	background-size: 100%;
	width: 100%;
	height: 70%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bigAbout h2{
	color: #26130B;
	text-align: center;
	font-family: 'chunkfiveroman', Arial, sans-serif;
	font-size: 40px;
	padding: 30px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
}

.who{
	margin-top: 160px;
}

.events h2{
	color: #a2462d;
	font-family: 'chunkfiveroman', Arial, sans-serif;
	font-size: 30px;
	padding-top: 50px;
	padding-bottom: 30px;
	
}

.evInfo h2{
	font-size: 20px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.events img{
	margin-bottom: 20px;
	margin-top: 20px;
}

.evInfo p{
	font-family:'Noticia Text', serif;
	line-height: 20px;
	color:#61301d;
	font-size: 14px;
	padding-bottom: 20px;	
}

.evInfo a{
	padding-top: 20px;
}

.aboutUs h2{
	font-family: 'chunkfiveroman', Arial, sans-serif;
	font-size: 30px;
	color: #a2462d;
	padding-top: 20px;
	padding-bottom: 20px;
}

.aboutUs p{
	font-family:'Noticia Text', serif;
	line-height: 20px;
	color:#61301d;
	font-size: 14px;
	padding-bottom: 25px;	
}

/*Contact page*/

.contact{
	padding-top: 20px;
}

.contact label{
	padding-bottom: 10px;
	font-family:'Noticia Text', serif;
}

.contact h2{
	font-family: 'chunkfiveroman', Arial, sans-serif;
	font-size: 30px;
	color: #a2462d;
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.contact p{
	font-family:'Noticia Text', serif;
	line-height: 20px;
	color:#61301d;
	padding-bottom: 30px;
}

.info h2{
	font-family: 'chunkfiveroman', Arial, sans-serif;
	font-size: 20px;
	color: #a2462d;
	padding-top: 10px;
}

.info p{
	font-family:'Noticia Text', serif;
	line-height: 20px;
	color:#61301d;
	padding-bottom: 10px;
}

.submit{
	background-color: #a2462d;
	padding: 5px;
	font-family:'Noticia Text', serif;
	color: #FFF;
	outline: none;
	border: none;
	cursor: pointer;
}


footer
{
	background-color: #694330;
	margin-top: 50px;
	overflow:hidden;
		
}


#copyRight
{
	color: #fff;
	font-family: 'Noticia Text', serif;
	text-align: center;
	padding: 20px;
}

#copyRight a{
	color: #FFF;
	text-decoration: underline;
}

@media only screen and (max-width: 40em) { 

	.mainImage{
		background-size: cover;
	}

	.enjoyCup{
		padding-top: 20px;
	}

	.bigPaste{
		/*background-attachment: inherit;*/
		background-size: cover;
	}

	.bigPaste img{
	padding-top: 20px;
	}

	.prodTitle h2{
	margin-top: 20px;
	}

	.bigPaste h2{
		font-size: 25px;
		line-height: 30px;
	}

	.bigAbout h2{
		font-size: 30px;
		margin-top: 10px;
	}

	.bigAbout {
		background-size: cover;
	}

		.mobNav {
		display: none;
	}

	nav ul{
		float: none;
	}	

	nav ul li {
		float: none;
		margin-right: 0px;
		padding-bottom: 20px;
		padding-top: 20px;
		border-bottom: solid 1px #c0a391;
	}

	nav ul li:last-child{
		border-bottom: none;
	}


	.mob-men{
		padding-top: 20px;
		float: right;
	}



}
